<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Adicione Um Animal</h2>
    <form action="" method="post">
        <input type="text" name="nome" id="" placeholder="Digite Um Nome De Um Animal">
        <button type="submit">Adicionar</button>
        <input type="text" name="raca" id="" placeholder="Digite A Raca Do Seu Animal">
        <button type="submit">Adicionar</button>
        <input type="text" name="habilidade" id="" placeholder="Digite Uma Habilidade Do Seu Animal ">
        <button type="submit">Adicionar</button>
    </form>

    <h2>Caso Queira Atualizar As Informacoes</h2>
    {% for nome in animais %}

    <form action="/update/{{ nome[0] }}" method="post">
        <input type="text" name="nome" value="{{ animais[1] }}">
        <button type="submit">Atualize</button>
        <input type="text" name="raca" id="" value="{{ animais[2] }}">
        <button type="submit">Atualize</button>
        <input type="text" name="habilidade" id="" value="{{ animais[3] }}">
        <button type="submit">Atualize</button>
    </form>
    <form action="/delete/{{ nome[0] }}" method="post">
    <button type="submit">Deletar</button>
</form>
    
    {% endfor %}

    <hr>

    <h2>Lista</h2>

    {% for id, nome, raca, habilidade in animais %}

    <p>
        {{ nome }} - 
        {{ raca }} -
        {{ habilidade }}
    </p>

    {% endfor %}
   
</body>
</html>
